<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  %>
					<% 
					var image_src = ''
					if(result_2){
				  		image_src = '../resources/img/player' + result_2[0].id + '.jpg';
					}else{
				  		image_src = '../resources/img/helmet.jpg';
					%>
					<% } %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
										 but will display the player's name-->
								<%
								if(result_1){
									var options = '';
									result_1.forEach(function(item){
										options += '<option select=' + item.id + '>' + item.name + '</option>'
									})
								%>
								<%- options %>
								<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
										 You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<%
							if(result_2){
								var player = result_2[0]
								var year = player.year
								var major = player.major
								var passYards = player.passing_yards
								var rushYards = player.rushing_yards
								var recYards = player.receiving_yards
							}
							if(result_3){
								var gamesPlayed = result_3[0].count
								var avgPass = passYards/gamesPlayed
								var avgRush = rushYards/gamesPlayed
								var avgRec = recYards/gamesPlayed
							%>
							<% } %>
							<th>Year</th>
							<td><%- year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%- major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%- gamesPlayed %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%- passYards %></td>
							<td>Avg. Passing Yards: <%- avgPass %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%- rushYards %></td>
							<td>Avg. Rushing Yards: <%- avgRush %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%- recYards %></td>
							<td>Avg. Receiving Yards: <%- avgRec %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>